.cardList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background-image: url(../../../public/img/12.jpeg);
  background-size: contain;
  padding: 10px;
  margin: 0;
  &__btn {
    background-color: aqua;
    border: none;
    cursor: pointer;
  }
  &__btn--favorite {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
.cardToString {
  list-style: none;

  gap: 30px;
  background-image: url(../../../public/img/12.jpeg);
  background-size: contain;
  padding: 10px;
  margin: 0;
}
.cardBox {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: grey;
  position: relative;
}
.cardString {
  margin-top: 10px;
  border: 1px solid;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  background-color: grey;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
