.item {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: grey;
  position: relative;
  &__header {
    font-size: 15px;
    height: 40px;
    &--text {
      height: 100px;
    }
  }
  &__wrapper {
    height: 100px;
  }
  &__img {
    max-width: 180px;
    max-height: 100px;
  }
}
