.like {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-size: contain;
  padding: 10px;
  margin: 0;
  background-image: url(../../../../public/img/12.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
